<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
	<form action="/dopost" method="post">
		<input type="text" name='username'>
		<input type="button" name='sub' value='提交'>
	</form>
</body>
</html>